body
{
	background-color:#630031;
	margin: 0 auto;
}
#wrapper
{
margin: 0 auto;
background-color:pink;
width:auto;
height:auto;
}
nav
{
background-color:#630031;
width:100%;
height:50px;	
margin: 0 auto;	
color:white;
font-weight:bold;
}
nav button
{
background-color:white;
color:#630031;
}
header
{
	

width:100%;
height:500px;	
margin: 0 auto;	
background-image:url('images/space.jpg');
background-color:black;		
}
#imgside,#headerside
{
	

width:500px;
float:left;

	
}
h1
{
color:#fff;
font-size:40px;	
margin-left:30px;
	
}
h2
{
color:#fff;
font-size:30px;	
margin-left:30px;
margin-top:10px;
}
header  button
{
	background-color: #000000;
color: #a3a3a3;
display: inline-block;
border:none;
 border-radius: 4px; 
 text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left:30px;
}
header button:hover
{
	
	background-color: rgb(171, 0, 11);	
}
section
{
height:1000px;
width:100%;
background-color:black;
margin:0 auto;	
	
}

#midsection
{
margin:0 auto;
width:900px;
height:300px;
background-image:url('images/blue.jpg')
	
}
#midsection img
{
width:225px;
height:200px;
float:left;	
	
}
#heading 
{
width:100%;
height:50px;

}
#heading span
{
	color:#A3A3A3;
	font-size:40px;
	font-family: audiowide-regular-webfont;
	margin-left:330px;
}
#mi
{
	color:white;
	font-size:40px;
	font-family: audiowide-regular-webfont;
	margin-left:370px;
}

h3
{
color: #A3A3A3;
font-size: 23px;
padding:10px;
margin-top:50px;
font-family: audiowide-regular-webfont;
text-align:center;
}
#mission
{
background-color: #630031;
width:100%;
height:200px;	
	
}
#mission p
{
width:700px;	
	
text-align:center;
color:white;
font-family: Arial;
font-size: 18px;
font-weight: normal;
line-height: 24px;
	
margin-left:160px;
margin-top:20px;
}
#lastsection
{

height:400px;
width:100%;	
	
}
#lastsection h1
{
	
color:#A3A3A3;
	font-size:40px;
	font-family: audiowide-regular-webfont;

}
#pa
{
background-color:yellow;
width:400px;
height:250px;	
margin-left:30px;
	
}
#lls,#rls
{
border:1px solid black;
width:500px;
height:400px;
float:left;	
	
}
#rlst
{
	
width:100px;
height:100px;
	
float:left;
}
#rlst3
{
margin-top:50px;	
width:100px;
height:100px;
	
float:left;
}
#rlst2
{
	
width:400px;
height:100px;
float:left;
}
#rlst4
{
margin-top:50px;	
width:400px;
height:100px;
float:left;
}	
#rlst2 h4,#rlst2  p

{
color:#A3A3A3;
margin-left:10px;	
	
}
#rlst4 h4,#rlst4  p

{
color:#A3A3A3;
margin-left:10px;	
	
}
#rlst2 button,#rlst4 button
{
margin-left:10px;	
	background-color: #000000;
color: #a3a3a3;
display: inline-block;
border:none;
 border-radius: 4px; 
 text-align: center;
  font-size: 20px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  height:30px;
}
#rlst2 button:hover
{
	
	background-color: rgb(171, 0, 11);	
}
#rlst4 button:hover
{
	
	background-color: rgb(171, 0, 11);	
}
footer
{
	
height:200px;
width:100%;
background-color: #FFFFFF;	
	
}
#social
{
	
height:70px;
width:100%;
background-color: #a3a3a3;
	padding:10px;
	
}
#social span
{
margin-left:60px;	

color:white;
font-family:Comic Sans MS;
font-size:30px;	
	
}
#social a
{
	text-decoration:none;
}
#social img
{
margin-left:20px;	
}
footer p
{
color:	#a3a3a3;
font-size:20px;	
}